.container
  .row
    .col-xs-12.col-md-8
      .panel.panel-primary
        .panel-heading
          %h3#welcome
            Welcome: #{@name}
            %a.btn.btn-success.pull-right#logout{:href=>"/logout"} Log Out
        .panel-body
          #chat.box
        .panel-footer
          .row
            .col-xs-12.col-md-10
              %input#text.large{:placeholder=>"Write and Enter"}
            .col-xs-12-col-md-2
              %button.btn.btn-success{"onclick"=>"javascript:send()"} Send
    .col-xs-12.col-md-4
      .panel.panel-primary
        .panel-heading
          %h3 Connected Users
        .panel-body
          #user